<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Branding</a></h4>
          <p class="description">
            A logo is the symbol of your brand and represents the value you provide to your customers. Whether you need a new logo or want to update an existing mark, we help communicate what’s most important.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Web development</a></h4>
          <p class="description">
            Our team of developers and engineers are experienced with responsive websites, web apps and server APIs. They will create backend and frontend applications using the top-notch modern tech stack, having hands on experience on web development services....</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Marketing & Social Media</a></h4>
          <p class="description">
            A successful event starts with a good marketing strategy. We create branded promotional materials to connect with customers ...
            </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">UI/UX Design</a></h4>
          <p class="description">
            Our team of UI and UX Specialists work to design both original and creative interfaces matching the functional specifications of your app or website.
            We specialize in user experience design for web platforms and mobile applications, user interface, wireframes, mockups and interactive prototypes.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">App development</a></h4>
          <p class="description">
            Mobile apps we deliver are robust, performant and scalable. We develop native mobile apps on the most popular platforms (Android and iOS) in line with the latest UX trends, as well as cross-platform, hybrid apps using React Native or Flutter along with mobile games using Unity.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Editing videos</a></h4>
          <p class="description">
            Increase leads, brand awareness, and social media presence with a compelling video. We create videos to promote your business, reach new customers, and drive website traffic.
            </p>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

